@font-face {
  font-family: "Product Sans";
  src: url("./fonts/ProductSans.ttf");
}

body {
  font-family: Product Sans;
}

.wrapper-container {
  width: 90%;
}

@media screen and (max-width: 992px) {
  .wrapper-container {
    width: 100%;
  }
}
