@font-face {
  font-family: ProductSans;
  src: url("./fonts/ProductSans.ttf");
}

@font-face {
  font-family: RobotoMono;
  src: url("./fonts/RobotoMono.ttf");
}

body {
  margin: 0;
  color: #616161;
  font-family: ProductSans;
}

table {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  line-height: 40px;
  border-collapse: collapse;
}

button {
  font-family: Roboto;
  color: #0005df;
  background-color: #fff;
  border: 1px solid #ccbdbd;
  border-radius: 7px;
  padding: 0.375rem 0.75rem;
  margin: 5px 7px;
}

#addData,
#saveButton {
  background-color: #3d7ff5;
  color: white;
}

#deleteButton {
  background-color: #d85663;
  color: white;
}

#deleteButton:hover,
#deleteButton:active {
  background-color: #f77079;
  color: white;
}

#addData:hover,
#addData:active,
#saveButton:hover,
#saveButton:active {
  background-color: #5d99ff;
  color: white;
}

button:hover {
  background-color: #f5f5f5;
}

.navbar {
  border-bottom: 1px solid #dadce0;
  background-color: white;
  box-shadow: 1px 3px 3px #ccbdbd;
}

.nav-heading {
  margin: 20px;
  font-size: 22px;
  font-weight: 500;
}

.button-container {
  text-align: center;
  margin: 20px auto;
}

.main-container {
  background-color: #fafafa;
  width: 35%;
  min-width: 290px;
  margin: 40px auto;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0px 0px 7px 1px #ccbdbd;
  text-align: center;
}

.input-container {
  background-color: #fafafa;
  width: 25%;
  min-width: 290px;
  margin: 40px auto;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0px 0px 7px 1px #ccbdbd;
  text-align: center;
}

#contact-container tr {
  border-bottom: 1px dotted #ccbdbd;
}

input {
  border: 1px solid #dadce0;
  border-radius: 7px;
  width: 70%;
}
input:focus. input:active {
  border: 1px solid #dadce0;
  border-radius: 7px;
}

@media screen and (max-width: 992px) {
  .btn {
    margin: 2px;
    padding: 3px;
  }
}
