body {
  margin: 0 auto;
  color: #616161;
  text-align: center;
}

.navbar {
  border-bottom: 1px solid #dadce0;
  background-color: white;
  box-shadow: 1px 3px 3px #ccbdbd;
}

.nav-heading {
  margin: 20px;
  font-size: 22px;
  font-weight: 500;
}

.container {
  text-align: center;
  width: 90%;
  margin: 20px auto;
}

.newsContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.news-card {
  margin: 10px auto;
  text-align: left;
  width: 15rem;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px 15px;
}
