<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="icon" href="https://i.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png"
        type="image/png" sizes="16x16">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">

        <div v-if="!userLoggedIn">
            <div class="my-5">
                <div class="card shadow bg-light p-4 mx-auto w-75">
                    <div class="card-body text-center">
                        <img src="https://www.clipartkey.com/mpngs/m/171-1715789_report-automation-dashboards-dashboard-yellow-icon.png"
                            alt="" style="max-width: 30%;" loading="lazy" class="mb-4">
                        <h3 class="card-title">Dashboard</h3>
                        <p class="card-text">Manage your portfolio seamlessly with this Dashboard</p>
                        <button class="btn btn-primary" v-on:click="googleLogin()">Login with Google</button>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="userLoggedIn">
            <nav class="navbar navbar-expand-lg shadow-sm navbar-light sticky-top bg-white px-2">
                <div class="container">

                    <a class="navbar-brand" href="#">
                        <h3 class="m-0 p-0 text-secondary">Dashboard</h3>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end my-2 " id="navbarNavAltMarkup">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="pills-about-tab" data-bs-toggle="pill"
                                    href="#pills-about" role="tab" aria-controls="pills-about"
                                    aria-selected="true">About</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-experience-tab" data-bs-toggle="pill"
                                    href="#pills-experience" role="tab" aria-controls="pills-profile"
                                    aria-selected="false">Experience</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-projects-tab" data-bs-toggle="pill" href="#pills-projects"
                                    role="tab" aria-controls="pills-profile" aria-selected="false">Projects</a>
                            </li>
                            <li class="nav-item mx-1 dropdown">
                                <img v-bind:src="userDetails.photoURL" width="40px" id="userAction"
                                    class="btn btn-primary nav-link p-0 rounded-circle dropdown-toggle"
                                    data-bs-toggle="dropdown" role="button" aria-expanded="false"></img>
                                <ul class="dropdown-menu text-center p-2" id="userContent" style="left: -280%;">
                                    <li>
                                        <h5 class="mx-2 my-1">{{userDetails.displayName}}</h5>
                                        <p class="mx-2 my-1"><small class="d-block">{{userDetails.email}}</small></p>
                                    </li>
                                    <li><button class="btn btn-primary btn-sm mt-2 mb-1 mx-auto" id="logoutButton"
                                            v-on:click="logoutUser()">Logout</button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="tab-content" id="pills-tabContent">

                <div class="tab-pane fade show active" id="pills-about" role="tabpanel"
                    aria-labelledby="pills-about-tab">
                    <div class="container-fluid bg-gradient">

                        <div class="container">
                            <div class="row my-5 p-4 bg-light rounded-3">
                                <div class="col-md-4 col-sm-12 col-12 text-center align-items-center py-auto">

                                    <div class="text-end">
                                        <!-- Button trigger modal -->
                                        <i class="far fa-edit mx-1" data-bs-toggle="modal"
                                            data-bs-target="#aboutDetails"></i>
                                    </div>

                                    <img class=" my-3 rounded-circle" :src="userData.profilePhotoURL" alt="..."
                                        width="150px">
                                    <h3 class="m-2 text-muted"> {{userData.name}} </h3>

                                    <p class="d-flex justify-content-center">
                                        <a :href="userData.Facebook"
                                            class="fab text-muted mx-2 h4 fa-facebook text-decoration-none"
                                            target="_blank"></a>
                                        <a :href="userData.Instagram"
                                            class="fab text-muted mx-2 h4 text-decoration-none fa-instagram"
                                            target="_blank"></a>
                                        <a :href="userData.LinkedIn"
                                            class="fab text-muted mx-2 h4 text-decoration-none fa-linkedin-in"
                                            target="_blank"></a>
                                        <a :href="userData.GitHub"
                                            class="fab text-muted mx-2 h4 text-decoration-none fa-github"
                                            target="_blank"></a>
                                        <a :href="userData.Twitter"
                                            class="fab text-muted mx-2 h4 text-decoration-none fa-twitter"
                                            target="_blank"></a>
                                    </p>

                                    <div class="modal fade" id="aboutDetails" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Edit data
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">Name</span>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Full Name" aria-label="Name"
                                                            v-model="userData.name" aria-describedby="input-field">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">Profile Photo</span>
                                                        <input type="text" class="form-control"
                                                            v-model="userData.profilePhotoURL"
                                                            placeholder="Enter Profile Photo URL" aria-label="PhotoURL"
                                                            aria-describedby="input-field">
                                                    </div>

                                                    <h4 class="text-muted my-3 text-start">Social Links:</h4>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">E-Mail</span>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter E-Mail address" aria-label="E-Mail"
                                                            aria-describedby="input-field" v-model="userData.email">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">Facebook</span>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Facebook URL" aria-label="Facebook"
                                                            aria-describedby="input-field" v-model="userData.Facebook">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">GitHub</span>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter GitHub URL" aria-label="GitHub"
                                                            aria-describedby="input-field" v-model="userData.GitHub">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">Instagram</span>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Instagram URL" aria-label="Instagram"
                                                            aria-describedby="input-field" v-model="userData.Instagram">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">LinkedIn</span>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter LinkedIn URL" aria-label="LinkedIn"
                                                            aria-describedby="input-field" v-model="userData.LinkedIn">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">Twitter</span>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Twitter URL" aria-label="Twitter"
                                                            aria-describedby="input-field" v-model="userData.Twitter">
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-primary" data-bs-dismiss="modal"
                                                        v-on:click="updateUserData()">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-8 col-sm-12 col-12">

                                    <div class="text-end">
                                        <!-- Button trigger modal -->
                                        <i class="far fa-edit mx-1" data-bs-toggle="modal"
                                            data-bs-target="#bioDetails"></i>
                                    </div>

                                    <div class="modal fade" id="bioDetails" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Edit data
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">Short-bio</span>
                                                        <textarea type="text" class="form-control"
                                                            v-model="userData.shortBio"
                                                            placeholder="Enter about yourself in 300 words"
                                                            aria-label="" aria-describedby="input-field" rows="3"
                                                            cols="10"></textarea>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">About</span>
                                                        <textarea type="text" class="form-control"
                                                            v-model="userData.about"
                                                            placeholder="Enter about you and your work " aria-label=""
                                                            aria-describedby="input-field" rows="9"
                                                            cols="10"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-primary" data-bs-dismiss="modal"
                                                        v-on:click="updateUserData()">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h4 class="text-muted">Short-Bio</h4>
                                    <p>
                                        {{userData.shortBio}}</p>
                                    <h4 class="text-muted">About</h4>
                                    <p>
                                        {{userData.about}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-experience" role="tabpanel" aria-labelledby="pills-experience-tab">
                    <div class="container-fluid bg-gradient">
                        <div class="container py-3">
                            <div class="row border bg-light py-3">
                                <h4 class="text-muted d-inline-block">Experience</h4>
                                <div class="col-md-6 col-12">
                                    <div class="input-group my-2">
                                        <span class="input-group-text">Designation</span>
                                        <input type="text" class="form-control" placeholder="Enter your Designation"
                                            aria-label="Designation" aria-describedby="input-field"
                                            v-model="tempExp.designation">
                                    </div>
                                    <div class="input-group my-2">
                                        <span class="input-group-text">Start</span>
                                        <input type="text" class="form-control" placeholder="Month-Year"
                                            aria-label="StartMonthYear" aria-describedby="input-field"
                                            v-model="tempExp.start">
                                        <span class="input-group-text">End</span>
                                        <input type="text" class="form-control" placeholder="Month-Year/ Present"
                                            aria-label="EndMonthYear" aria-describedby="input-field"
                                            v-model="tempExp.end">
                                    </div>
                                    <div class="input-group my-2">
                                        <span class="input-group-text">Brief</span>
                                        <textarea type="text" class="form-control" placeholder="Enter about your work "
                                            aria-label="" aria-describedby="input-field" rows="2" cols="1"
                                            v-model="tempExp.brief"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="input-group my-2">
                                        <span class="input-group-text">Name</span>
                                        <input type="text" class="form-control" placeholder="Enter Company Name"
                                            aria-label="Company Name" aria-describedby="input-field"
                                            v-model="tempExp.companyName">
                                    </div>
                                    <div class="input-group my-2">
                                        <span class="input-group-text">Website</span>
                                        <input type="text" class="form-control" placeholder="Enter Company Website URL"
                                            aria-label="Website URL" aria-describedby="input-field"
                                            v-model="tempExp.companyWebsiteURL">
                                    </div>
                                    <div class="input-group my-2">
                                        <span class="input-group-text">Logo</span>
                                        <input type="text" class="form-control" placeholder="Enter Company Logo URL"
                                            aria-label="Logo URL" aria-describedby="input-field"
                                            v-model="tempExp.companyLogoURL">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-primary w-25" v-on:click="addExpData()">Add
                                        Experience</button>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-4 col-12 my-2" v-for="(exp, index) in experiences">
                                    <div class="card">
                                        <div class="card-header text-end">
                                            <!-- Button trigger modal -->
                                            <i class="far fa-edit mx-1" data-bs-toggle="modal"
                                                :data-bs-target="'#a' + index.toString()"></i>
                                            <i class="fas fa-times mx-1" v-on:click="deleteExpData(exp.id)"></i>

                                            <!-- Modal -->
                                            <div class="modal fade" :id="'a' + index.toString()" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Edit data
                                                            </h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-md-12 col-12">
                                                                    <div class="input-group my-2">
                                                                        <span
                                                                            class="input-group-text">Designation</span>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Enter your Designation"
                                                                            aria-label="Designation"
                                                                            aria-describedby="input-field"
                                                                            v-model="exp.designation">
                                                                    </div>
                                                                    <div class="input-group my-2">
                                                                        <span class="input-group-text">Start</span>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Month-Year"
                                                                            aria-label="StartMonthYear"
                                                                            aria-describedby="input-field"
                                                                            v-model="exp.start">
                                                                        <span class="input-group-text">End</span>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Month-Year/ Present"
                                                                            aria-label="EndMonthYear"
                                                                            aria-describedby="input-field"
                                                                            v-model="exp.end">
                                                                    </div>
                                                                    <div class="input-group my-2">
                                                                        <span class="input-group-text">Brief</span>
                                                                        <textarea type="text" class="form-control"
                                                                            placeholder="Enter about your work "
                                                                            aria-label="" aria-describedby="input-field"
                                                                            rows="3" cols="1"
                                                                            v-model="exp.brief"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 col-12">
                                                                    <div class="input-group my-2">
                                                                        <span class="input-group-text">Name</span>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Enter Company Name"
                                                                            aria-label="Company Name"
                                                                            aria-describedby="input-field"
                                                                            v-model="exp.companyName">
                                                                    </div>
                                                                    <div class="input-group my-2">
                                                                        <span class="input-group-text">Website</span>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Enter Company Website URL"
                                                                            aria-label="Website URL"
                                                                            aria-describedby="input-field"
                                                                            v-model="exp.companyWebsiteURL">
                                                                    </div>
                                                                    <div class="input-group my-2">
                                                                        <span class="input-group-text">Logo</span>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Enter Company Logo URL"
                                                                            aria-label="Logo URL"
                                                                            aria-describedby="input-field"
                                                                            v-model="exp.companyLogoURL">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary"
                                                                data-bs-dismiss="modal" aria-label="Close"
                                                                v-on:click="updateExpData(exp, exp.id)">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body p-3 ">
                                            <div class="align-items-center d-flex">
                                                <img class="rounded-circle float-start m-2" :src="exp.companyLogoURL"
                                                    alt="" style="max-width: 30%;">
                                                <div class="m-2">
                                                    <h5 class="card-title py-0 my-0">{{ exp.designation }}</h5>
                                                    <p class="card-text text-muted"> {{ exp.companyName }}
                                                        <br> <small> {{ exp.start }} - {{ exp.end }} </small>
                                                    </p>
                                                </div>
                                            </div>
                                            <p>{{ exp.brief }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-projects" role="tabpanel" aria-labelledby="pills-projects-tab">
                    <div class="container-fluid bg-gradient">
                        <div class="container py-3">
                            <div class="container">
                                <div class="row border bg-light py-3">
                                    <h4 class="text-muted d-inline-block">Projects</h4>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group my-2">
                                            <span class="input-group-text">Title</span>
                                            <input type="text" class="form-control" placeholder="Enter Project Title"
                                                aria-label="Title" aria-describedby="input-field"
                                                v-model="tempProject.title">
                                        </div>
                                        <div class="input-group my-2">
                                            <span class="input-group-text">Image URL</span>
                                            <input type="text" class="form-control"
                                                placeholder="Enter Project Image URL" aria-label="Project URL"
                                                aria-describedby="input-field" v-model="tempProject.projectImageURL">
                                        </div>
                                        <div class="input-group my-2">
                                            <span class="input-group-text">Brief</span>
                                            <textarea type="text" class="form-control" placeholder="Enter Project brief"
                                                aria-label="" aria-describedby="input-field" rows="2"
                                                v-model="tempProject.brief" cols="1"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="input-group my-2">
                                            <span class="input-group-text">Live URL</span>
                                            <input type="text" class="form-control" placeholder="Enter Project Live URL"
                                                aria-label="LIVE URL" aria-describedby="input-field"
                                                v-model="tempProject.liveURL">
                                        </div>
                                        <div class="input-group my-2">
                                            <span class="input-group-text">GitHub URL</span>
                                            <input type="text" class="form-control" placeholder="Enter GitHub URL"
                                                aria-label="GitHub URL" aria-describedby="input-field"
                                                v-model="tempProject.githubURL">
                                        </div>
                                        <div class="input-group my-2">
                                            <span class="input-group-text">Tech Stack</span>
                                            <input type="text" class="form-control" placeholder="Enter Tech Stack"
                                                aria-label="Tech Stack" aria-describedby="input-field"
                                                v-model="tempProject.techStack">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-primary w-25" v-on:click="addProjectData()">Add
                                            Project</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-12 my-3" v-for="(project, index) in projects" :key="index">
                                        <div class="card bg-light">
                                            <div class="card-header text-end">
                                                <i class="far fa-edit mx-1" data-bs-toggle="modal"
                                                    :data-bs-target="'#p' + index.toString()"></i>
                                                <i class="fas fa-times mx-1"
                                                    v-on:click="deleteProjectData(project.id)"></i>
                                            </div>
                                            <div class="text-center">
                                                <img :src="project.projectImageURL" class="card-img-top mx-auto my-4"
                                                    alt="..." style="width: 30%;">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title text-muted"> {{ project.title }} </h5>
                                                <p class="card-text"> {{project.brief}} </p>
                                                <p>
                                                    <span class="badge bg-secondary"> {{ project.techStack }} </span>
                                                </p>

                                                <a :href="project.liveURL" class="btn btn-primary btn-sm">Visit
                                                    Project</a>
                                                <a :href="project.githubURL" class="btn btn-outline-success btn-sm">View
                                                    Code</a>
                                            </div>
                                            <!-- Modal -->
                                            <div class="modal fade" :id="'p' + index.toString()" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Edit data
                                                            </h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-md-12 col-12">
                                                                    <div class="input-group my-2">
                                                                        <span class="input-group-text">Title</span>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Enter Project Title"
                                                                            aria-label="Title"
                                                                            aria-describedby="input-field"
                                                                            v-model="project.title">
                                                                    </div>
                                                                    <div class="input-group my-2">
                                                                        <span class="input-group-text">Image
                                                                            URL</span>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Enter Image URL"
                                                                            aria-label="Image URL"
                                                                            aria-describedby="input-field"
                                                                            v-model="project.projectImageURL">
                                                                    </div>
                                                                    <div class="input-group my-2">
                                                                        <span class="input-group-text">Brief</span>
                                                                        <textarea type="text" class="form-control"
                                                                            placeholder="Enter Project brief"
                                                                            aria-label="" aria-describedby="input-field"
                                                                            rows="3" v-model="project.brief"
                                                                            cols="1"></textarea>
                                                                    </div>
                                                                    <div class="input-group my-2">
                                                                        <span class="input-group-text">Live URL</span>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Enter Project Live URL"
                                                                            aria-label="LIVE URL"
                                                                            aria-describedby="input-field"
                                                                            v-model="project.liveURL">
                                                                    </div>
                                                                    <div class="input-group my-2">
                                                                        <span class="input-group-text">GitHub URL</span>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Enter GitHub URL"
                                                                            aria-label="GitHub URL"
                                                                            aria-describedby="input-field"
                                                                            v-model="project.githubURL">
                                                                    </div>
                                                                    <div class="input-group my-2">
                                                                        <span class="input-group-text">Tech Stack</span>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="Enter Tech Stack"
                                                                            aria-label="Tech Stack"
                                                                            aria-describedby="input-field"
                                                                            v-model="project.techStack">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary"
                                                                data-bs-dismiss="modal" aria-label="Close"
                                                                v-on:click="updateProjectData(project, project.id)">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid bg-light mt-5">
                <div class="container py-4">
                    <div class="row border-bottom align-items-center">
                        <div class="col-md-4 col-12 text-lg-start text-md-start text-center mb-3 ">
                            <h3 class="d-inline text-muted ">Dashboard
                                </h2>
                        </div>
                    </div>
                    <div class="row text-center align-items-baseline mt-4">
                        <a class="text-decoration-none" href="https://twitter.com/kartik_derasari">
                            <h6 class="text-muted">Created by Kartik Derasari</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-firestore.js"></script>

    <script src="./js/app.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>