@font-face {
  font-family: "Product Sans";
  src: url("./fonts/ProductSans.ttf");
}

body {
  font-family: "Product Sans", sans-serif;
}

.taskCard {
  width: 25%;
}

@media screen and (max-width: 992px) {
  .taskCard {
    width: 90%;
  }
}
