@import url("https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap");

body {
  font-family: "Noticia Text", serif;
  background-color: #eae5e5;
  color: rgb(99, 83, 83);
}

.navbar {
  background-color: #eae5e5;
}

.navbar-container {
  width: 70%;
  margin: 0 auto;
}

.container-70 {
  width: 70%;
  margin: 50px auto;
}

.profile-picture {
  max-width: 300px;
}
.button-picture {
  width: 100px;
}
a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.color-container {
  border: 1px solid red;
  height: 100px;
}

.button-badge {
  height: 7rem;
  width: 7rem;
  margin: 0px 10px;
}

.badge-inner-text {
  position: relative;
  top: 3rem;
  color: white;
}
.badge-inner-text:hover {
  opacity: 0.5;
}

.material-icons {
  padding: 10px;
  font-size: 40px;
}

.social-icon {
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px 5px;
}

.skill-badges {
  font-size: 18px;
  font-weight: normal;
}

.content-container {
  padding: 20px 0;
}
