@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 20px;
  padding: 20px;
  border: 0.5px solid rgb(221, 197, 197);
  box-shadow: 3px 3px rgb(179, 157, 157);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#expContent {
  text-align: justify;
}

#expContent p {
  margin: 5px 0;
}

.subheader {
  margin: 0;
  margin-top: 10px;
}

.subcontent table {
  width: 100%;
  text-align: center;
  border: 1px solid rgb(179, 157, 157);
}
.subcontent tr,
.subcontent th,
.subcontent td {
  border: 1px solid rgb(179, 157, 157);
}
